    <!-- ====================SYMPTOMS=============================================================== -->
    <section class="symptoms">
      <div class="container">
          <h2 class="h2 animate__animated  animate__zoomInDown ">WHAT ARE THE SYMPTOMS OF COVID-19 ?</h2>
          <h1 class="h1 animate__animated animate__slideInLeft">SYMPTOMS OF CORONAVIRUS</h1>
          <p class="p  animate__animated animate__slideInRight">The most common symptoms of COVID-19 are fever,
              tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore
              throat or diarrhea. These symptoms are usually mild and begin gradually. Also the symptoms may appear
              2-14 days after exposure.
          </p>
          <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="symptoms-content animate__animated animate__fadeInLeft wow">
                      <div class="symptoms-box">
                          <img src="../../assets/img/symptom-1.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="card " style="width: 21rem;">
                          <div class="card-body">
                              <h5 class="card-title">Fever</h5>
                              <p class="card-text"><b>High Fever </b>– this means you feel hot to touch on your chest
                                  or back (you do not need to measure your temperature). It is a common sign and also
                                  may appear in 2-10 days if you affected.</p>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="symptoms-content animate__animated animate__fadeInUpBig wow">
                      <div class="symptoms-box">
                          <img src="../../assets/img/symptom-2.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="card " style="width: 21rem;">
                          <div class="card-body">
                              <h5 class="card-title">Cough</h5>
                              <p class="card-text"><b>Continuous cough</b> – this means coughing a lot for more than
                                  an hour, or 3 or more coughing episodes in 24 hours (if you usually have a cough, it
                                  may be worse than usual).</p>
                          </div>
                      </div>
                  </div>

              </div>

              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="symptoms-content animate__animated animate__fadeInRight wow">
                      <div class="symptoms-box">
                          <img src="../../assets/img/symptom-3.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="card " style="width: 21rem;">
                          <div class="card-body">
                              <h5 class="card-title">Shortness of breath</h5>
                              <p class="card-text"><b>Difficulty breathing </b>– Around 1 out of every 6 people who
                                  gets COVID-19 becomes seriously ill and develops difficulty breathing or shortness
                                  of breath.</p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <div class="row row-symptoms d-flex justify-content-between ">
              <div class="col-lg-8 col-md-12 col-sm-12 ">
                  <div class="symptoms-alert animate__animated animate__fadeInLeft wow">
                      <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                      <div class="text">
                          <p>
                              <span>Stay at home and call your doctor:</span>
                              <em>If you think you have been exposed to COVID-19 and develop a fever and any symptoms,
                                  such as
                                  cough or difficulty breathing, call your healthcare provider as soon as possible for
                                  medical advice.</em>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="symptoms-button animate__animated animate__fadeInRight wow">
                      <button class="btn btn-primary"><a href="#"><i class="far fa-question-circle"></i> Have Question
                              ? Find Answer.</a></button>
                  </div>
              </div>
          </div>






      </div>
  </section>

  <!-- =================================================================================== -->
