
/* ========================treatment======================================================================== */

.section-treatment{
  width: 100%;
  background-image: url('../../assets/img/navbackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #2766bb;
}


.treatment-content{
  padding: 76px 10px;
}

.treatment-content h6{
  color: #73e3ff;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 7px;
  font-weight: bold;
}

.treatment-content h1{
  color: white;
  font-size: 42px;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.treatment-content p{
  color: white;
}

.treatment-content p span{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
}


.self-car{
  margin: 100px 5px;
  padding: 36px 36px;
  background-color: #1b47a1;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

.self-car h5{
margin: 20px 0px;

}

.self-car p{
  line-height: 1.5em;
  margin-bottom: 10px;
}

.self-car h6{
  text-align: left;
}
.self-car h6 i{
  margin: 5px 10px 5px 0px;
  font-size: 16px;
}

@media(max-width: 620px){
  .treatment-content h1 {
      font-size: 23px;
  }

  .treatment-content h6 {
      font-size: 15px;
  }
  .treatment-content p span {
      font-size: 14px;
  }
  .treatment-content {
      text-align: center;
  }

  .self-car {
      margin: -11px 5px;
      padding: 23px 9px;
  }
  .self-car h5 {
      text-align: center;
  }
}
/* ================================================================================================ */
