    <!-- ====================About=============================================================== -->
    <section class="about-section">
      <div class="container">
          <h1 class="about-header">ABOUT THE DISEASE</h1>
          <div class="row">
              <div class="col-lg-7 col-md-12 col-sm-12 about-col1">
                  <div class="about-content-text">
                      <h1 class="h1 none funtext2">CORONAVIRUS (COVID-19)</h1>
                      <h4 class="h4-bold none">COVID-19 is a new illness that can affect your lungs and airways.</h4>
                      <h3 class="h3 none">It's caused by a virus called coronavirus. It was discovered in December
                          2019 in
                          Wuhan,
                          Hubei, China.</h3>
                      <p class="p p1 none">Common signs of infection include respiratory symptoms, fever, cough,
                          shortness of
                          breath and
                          breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute
                          respiratory syndrome, kidney failure and even death.</p>

                      <p class="p p2 none">Standard recommendations to prevent infection spread include regular hand
                          washing,
                          covering
                          mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs. Avoid close
                          contact with anyone showing symptoms of respiratoryillness such as coughing and sneezing.
                      </p>
                  </div>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 wow bounceInUp">
                  <div class="about-content-links">
                      <table class="links-table">
                          <tr class="tr">
                              <th class="th wow bounceInUp">What you need to know</th>
                          </tr>
                          <tr class="tr">
                              <td class="td wow bounceInLeft"><a href="" class="a">How coronavirus is spread <i
                                          class="fas fa-arrow-right"></i></a></td>
                          </tr>
                          <tr class="tr">
                              <td class="td wow bounceInRight"><a href="" class="a">Symptoms of coronavirus <i
                                          class="fas fa-arrow-right"></i></a></td>
                          </tr>
                          <tr class="tr">
                              <td class="td wow bounceInLeft"><a href="" class="a">How to protect yourself <i
                                          class="fas fa-arrow-right"></i></a></td>
                          </tr>
                          <tr class="tr">
                              <td class="td wow bounceInRight"><a href="" class="a">Treatment for coronavirus <i
                                          class="fas fa-arrow-right"></i></a></td>
                          </tr>
                          <tr class="tr">
                              <td class="td wow bounceInLeft"><a href="" class="a">Myth-Busters of coronavirus <i
                                          class="fas fa-arrow-right"></i></a></td>
                          </tr>
                          <tr class="tr">
                              <td class="td wow bounceInRight"><a href="" class="a">Questions & answers <i
                                          class="fas fa-arrow-right"></i></a></td>
                          </tr>
                      </table>
                  </div>

              </div>
          </div>
      </div>
  </section>

  <!-- =================================================================================== -->
