
    <!-- ====================Prevention=============================================================== -->
    <section class="Prevention">
      <div class="container">
          <h2 class="h2 animate__animated  animate__zoomInDown ">HOW TO PROTECT YOURSELF</h2>
          <h1 class="h1 animate__animated animate__slideInLeft">PREVENTION & ADVICE</h1>
          <p class="p  animate__animated animate__slideInRight">There is currently no vaccine to prevent coronavirus
              disease 2019 (COVID-19). The best way to prevent illness is to avoid being exposed to this virus. Stay
              aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your
              national and local public health authority.

          </p>
          <div class="row">
              <div class="col-lg-3 col-md-12 col-sm-12">
                  <div class="Prevention-content animate__animated animate__fadeInLeftBig wow">
                      <div class="Prevention-box">
                          <img src="../../assets/img/Prevention-1.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="Prevention-text">
                          <h6>Wash your hands frequently</h6>
                          <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them
                              with soap and water for at least 20 seconds</p>
                      </div>
                  </div>

              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                  <div class="Prevention-content animate__animated animate__fadeInDownBig wow">
                      <div class="Prevention-box">
                          <img src="../../assets/img/Prevention-2.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="Prevention-text">
                          <h6>Maintain social distancing</h6>
                          <p>Maintain at least 1 metre (3 feet) distance between yourself & anyone who is coughing or
                              sneezing. If you are too close, get chance to infected.</p>
                      </div>
                  </div>

              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                  <div class="Prevention-content animate__animated animate__fadeInDownBig wow">
                      <div class="Prevention-box">
                          <img src="../../assets/img/Prevention-3.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="Prevention-text">
                          <h6>Avoid touching face</h6>
                          <p>Hands touch many surfaces and can pick up viruses. So, hands can transfer the virus to
                              your eyes, nose or mouth and can make you sick.</p>
                      </div>
                  </div>

              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                  <div class="Prevention-content animate__animated animate__fadeInRightBig wow">
                      <div class="Prevention-box">
                          <img src="../../assets/img/Prevention-4.png" class="symptom-img border rounded-circle" alt="...">
                      </div>
                      <div class="Prevention-text">
                          <h6>Practice respiratory hygiene</h6>
                          <p>Maintain good respiratory hygiene as covering your mouth & nose with your bent elbow or
                              tissue when cough or sneeze.</p>
                      </div>
                  </div>

              </div>
          </div>

          <div class="row row-Prevention d-flex justify-content-between ">
              <div class="col-lg-6 col-md-12 col-sm-12 text-center ">
                  <div class="Prevention-alert animate__animated animate__fadeInLeft wow">
                      <button class="btn btn-primary"><a href="#">Check How You Wash Hands <i
                                  class="fas fa-arrow-right"></i></a></button>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                  <div class="Prevention-button animate__animated animate__fadeInRight wow">
                      <a href="#">About COVIS-19<i class="fas fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>


          <!-- ==============Take steps to protect others==================================== -->

          <div class="row protect-row d-flex justify-content-between">

              <div class="col-lg-7 col-md-12 col-sm-12">
                  <h1 class="h1">Take steps to protect others</h1>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Stay home if you’re sick</span>
                          <em>– Stay home if you are sick, except to get medical care</em>
                      </p>
                  </div>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Cover your mouth and nose</span>
                          <em>– with a tissue when you cough or sneeze (throw used tissues in the trash) or use the
                              inside of your elbow.</em>
                      </p>
                  </div>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Wear a facemask if you are sick</span>
                          <em> – You should wear a facemask when you are around other people (e.g., sharing a room or
                              vehicle) and before you enter a healthcare provider’s</em>
                      </p>
                  </div>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Clean AND disinfect frequently touched surfaces daily </span>
                          <em>– This includes phones, tables, light switches, doorknobs, countertops, handles, desks,
                              toilets, faucets, and sinks.</em>
                      </p>
                  </div>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Clean the dirty surfaces</span>
                          <em>– Use detergent or soap and water prior to disinfection.</em>
                      </p>
                  </div>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Stay informed about the local COVID-19 situation</span>
                          <em> – Get up-to-date information about local COVID-19 activity from <a href="#home">public
                                  health officials</a>.</em>
                      </p>
                  </div>
                  <div class="protect-text animate__animated animate__fadeInLeftBig wow">
                      <p>
                          <i class="fas fa-check-circle"></i>
                          <span>Dedicated, lined trash can</span>
                          <em>– If possible, dedicate a lined trash can for the ill person. Use gloves when removing
                              garbage bags, and handling & disposing of trash.</em>
                      </p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="protect-img animate__animated animate__fadeInRightBig wow">
                      <img src="../../assets/img/Prevention-5.png" alt="">
                  </div>
              </div>
          </div>


          <div class="wish-hands">
              <h1>Follow steps to wash hands</h1>
              <a href="">Why do I need wash hand <i class="fas fa-arrow-right"></i></a>
          </div>

          <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="hand animate__animated animate__fadeInLeftBig wow">
                      <div class="img ">
                          <img src="../../assets/img/hand-a.png" class="border rounded-circle" alt="">
                      </div>
                      <h1>Soap on Hand</h1>
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="hand animate__animated animate__fadeInTopLeft wow">
                      <div class="img">
                          <img src="../../assets/img/hand-b.png" class="border rounded-circle " alt="">
                      </div>
                      <h1>Palm to Palm</h1>
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="hand animate__animated animate__jackInTheBox wow">
                      <div class="img ">
                          <img src="../../assets/img/hand-c.png" class="border rounded-circle" alt="">
                      </div>
                      <h1>Between Fingers</h1>
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="hand animate__animated animate__jackInTheBox wow">
                      <div class="img ">
                          <img src="../../assets/img/hand-d.png" class="border rounded-circle" alt="">
                      </div>
                      <h1>Back to Hands</h1>
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="hand animate__animated animate__fadeInTopRight wow">
                      <div class="img ">
                          <img src="../../assets/img/hand-e.png" class="border rounded-circle" alt="">
                      </div>
                      <h1>Clean with Water</h1>
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4">
                  <div class="hand animate__animated animate__fadeInRightBig wow">
                      <div class="img ">
                          <img src="../../assets/img/hand-f.png" class="border rounded-circle" alt="">
                      </div>
                      <h1>Focus on Wrist</h1>
                  </div>
              </div>
          </div>
          <!-- ============================================================================ -->


      </div>
  </section>

  <!-- =================================================================================== -->
